<h1 class="text-center"> Create new tournament </h1>


<div class="container">
  <div class="alert alert-warning"
      *ngIf="tournamentForm.dirty && name.invalid">Enter atleast 5 characters as the name of the tournament
  </div>
  <div class="alert alert-warning"
       *ngIf="tournamentPlayers.length < 4 ">Select at least 4 players into the tournament
  </div>

<form (ngSubmit)="!tournamentForm.invalid && saveTournament()" #tournamentForm="ngForm">
  <fieldset class="form-group">
    <label>Tournament name</label>
    <input type="text" #name="ngModel"
           [(ngModel)]="tournament.name" class="form-control"
           name="name" required="required" minlength="5">
    <label>Tournament type</label>
    <select class="form-control form-select" placeholder="Location">
      <option value="" disabled>tournament type-</option>
      <option *ngFor="let tournamentType of tournamentTypes" [ngValue]="tournamentType">{{ tournamentType}}</option>
    </select>
  </fieldset>

  <button type="submit" class="btn btn-success">Save</button>
</form>

  <div class="row align-items-center">
    <div class="col-12 text-center">
      <app-tournament-creator [pots] = pots [creatorId] = pagination1 #source></app-tournament-creator>
    </div>

  </div>
</div>


